# secrets
*.agekey
age.key
*.dec.yaml
*.decrypted.*
.sops-key*
secrets.local.*
*.local
kubeconfig/

# ansible
.ansible
*.retry
ansible/inventory.local.ini

# editor
.idea/
.vscode
.zed/

# misc
.DS_Store
