# Rendered by the reliability role from group_vars/all.yml. Consumed by nimbus-backup.sh.
VOLUMES_DIR={{ volumes_dir }}
BACKUP_DIR={{ backup.local_dir | default('/var/backups/nimbus') }}
RETAIN={{ backup.retain | default(7) }}
DEST={{ backup.dest | default('') }}
